<h1>Transaction History</h1>
<p>Choose an Account</p>
<form [formGroup]="accountSelectForm" (change)="onChange()">
    <div class="form-group">
        <label for="account">Account</label>
        <select name="account" id="account" formControlName="account">
            <option *ngFor="let account of accounts;" [value]="account.id">{{ account.name}} - {{ account.type }} - {{ account.balance }}</option>
        </select>
    </div>
</form>
<p>Transactions</p>
<ul>
    <li *ngFor="let transaction of selectedAccount.transactions">
        ${{ transaction.amount }} -- {{ transaction.otherAccountName }}
    </li>
</ul>
