<h1>Transaction History</h1>
<div class="form-wrapper p-3 border rounded my-5">
    <form [formGroup]="accountSelectForm" (change)="onChange()">
        <div class="form-group">
            <label for="account" class="col-form-label">Choose an Account:</label>
            <select name="account" id="account" formControlName="account" class="form-control">
                <option *ngFor="let account of accounts;" [value]="account.id">{{ account.name}} - {{ account.type }} - {{ account.balance }}</option>
            </select>
        </div>
    </form>
</div>
<p>Transactions</p>
<ul>
    <li *ngFor="let transaction of selectedAccount.transactions">
        ${{ transaction.amount }} -- {{ transaction.otherAccountName }}
    </li>
</ul>
