<h1 class="mb-5">Banking Services</h1>
<nav>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action">
            <a href="/create-account" class="d-block">Create Account</a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a href="/transfer-funds" class="d-block">Transfer Funds</a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a href="/transaction-history" class="d-block">Transaction History</a>
        </li>
    </ul>
</nav>
